
  /* Add styles to the form container */
  .container {

    margin: auto;
    width: 50%;
    border: 3px;
    max-width: 400px;
    padding: 16px;
    background-color: rgba(21, 84, 100, 0.13);
    grid-gap: 10px;
    border-radius: 6px;
  }
  
  /* Full-width input fields */
    input[type=email], input[type=password],input[type=text] {
    width: 90%;
    padding: 10px;
    margin: 5px 0 px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=email]:focus, input[type=password]:focus,input[type=text]:focus {
    width: 100%;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 6px;
    background-color: #ddd;
    outline: none;
  }
  
  .btn:hover {
    opacity: 1;
  }
   .footer {
    padding: 10px 35px;
    margin: 4px 2px;
   
    border: none;
    color: black;
    align-items: center;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
  }
  .btn{
    font-size: 20px;
    padding: 4px 65px;
    border: 2px;
    margin: 5px;
    align-items: center;
    background-color: #3498db;
    color: #fff;
    transition: all 250ms ease-in-out;
    cursor: pointer;

}

  